@charset "UTF-8";



/* --- blog-front-html-widget --- */

.blog-front-html-widget
{
	height: 100%;
	font-size: 16px;
	font-family: Ubuntu, sans-serif;
}

.blog-front-html-widget body
{
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.blog-front-html-widget strong
{
	text-transform: uppercase;
}

.blog-front-html-widget figure
{
	text-align: center;
	margin: 1rem;
}

.blog-front-html-widget figcaption
{
	font-size: 0.75rem;
}



/* --- blog-front-body-header-widget --- */

.blog-front-body-header-widget
{
	background-color: #c00;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #600;
}

	@media screen and (max-width: 400px)
	{
		.blog-front-body-header-widget
		{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-header-widget
		{
			justify-content: space-between;
		}
	}

.blog-front-body-header-widget > a
{
	font-size: 1.25rem;
	font-weight: bold;
}

	@media screen and (max-width: 400px)
	{
		.blog-front-body-header-widget > a
		{
			padding: 0.5rem;
		}
	}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-header-widget > a
		{
			padding: 1rem;
		}
	}

.blog-front-body-header-widget a
{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

.blog-front-body-header-widget a:hover
{
	text-decoration: underline;
}



/* --- blog-front-body-header-nav-widget --- */

.blog-front-body-header-nav-widget
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*
.blog-front-body-header-nav-widget a
{
}
*/

	@media screen and (max-width: 400px)
	{
		.blog-front-body-header-nav-widget a
		{
			padding: 0.5rem;
		}
	}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-header-nav-widget a
		{
			padding: 0.5rem 1rem;
		}
	}




/* --- blog-front-body-widget --- */

.blog-front-body-widget__central_box
{
	background: linear-gradient(#ccc, #aaa);
	flex-grow: 1;
	display: flex;
}

	@media screen and (max-width: 400px)
	{
		.blog-front-body-widget__central_box
		{
			flex-direction: column;
			align-items: center;
		}
	}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-widget__central_box
		{
			justify-content: center;
		}
	}

.blog-front-body-widget__central_box > aside
{
	padding: 1rem;
	width: 200px;
}

.blog-front-body-widget__central_box > main
{
	padding: 1rem;
	text-align: justify;
}

	@media screen and (max-width: 400px)
	{
		.blog-front-body-widget__central_box > main
		{
			order: -1;
		}
	}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-widget__central_box > main
		{
			max-width: 700px;
		}
	}



/* --- blog-front-body-main-header-widget --- */

.blog-front-body-main-header-widget
{
	font-size: 0.75rem;
}

.blog-front-body-main-header-widget a
{
	color: #c00;
	text-decoration: none;
}

.blog-front-body-main-header-widget a:hover
{
	text-decoration: underline;
}



/* --- blog-front-body-main-header-widget --- */

.blog-front-body-main-header-widget h1
{
	margin: 1rem 0 0;
	font-size: 2rem;
}



/* --- blog-front-body-main-header-nav-widget --- */

.blog-front-body-main-header-nav-widget
{
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
}

.blog-front-body-main-header-nav-widget a
{
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}

.blog-front-body-main-header-nav-widget a:not(:last-child)
{
	margin-right: 0.5rem;
}



/* --- blog-front-body-main-widget --- */

.blog-front-body-main-widget__body a
{
	color: #c00;
	text-decoration: none;
	font-weight: bold;
}

.blog-front-body-main-widget__body a:hover
{
	text-decoration: underline;
}



/* --- blog-front-body-footer-widget --- */

.blog-front-body-footer-widget
{
	background-color: #c00;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	align-items: center;
	border-top: 1px solid #600;
}

	@media screen and (max-width: 400px)
	{
		.blog-front-body-footer-widget
		{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-footer-widget
		{
			justify-content: space-around;
		}
	}

.blog-front-body-footer-widget > div
{
	text-align: center;
	padding: 0.5rem;
}

	@media screen and (min-width: 401px)
	{
		.blog-front-body-footer-widget > div
		{
			width: 30%;
		}
	}

.blog-front-body-footer-widget a
{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

.blog-front-body-footer-widget a:hover
{
	text-decoration: underline;
}

/*
	@media screen and (max-width: 400px)
	{
	}

	@media screen and (min-width: 401px)
	{
	}
*/



/* --- blog-front-about_blog-main_body-widget --- */

.blog-front-about_blog-main_body-widget__uroboros_logo
{
	float:left;
}